/* style.css */

body {

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden
}

.menu-principal {
  list-style: none;
  display: flex;
  text-align: center;
  border: 1px solid blue
}

.menu-principal li {
  flex-grow: 1; /* Faz com que os elementos tenham tamanhos proporcionais */
  margin-right: 10px;
}

.menu-principal li.procurar {
  flex-basis: 5%; /* Tamanho proporcional de 5% */
}

.menu-principal li.categorias {
  flex-basis: 10%; /* Tamanho proporcional de 10% */
}

.menu-principal li.logo {
  flex-basis: 70%; /* Tamanho proporcional de 70% */
}

.menu-principal li.perfil,
.menu-principal li.favoritos,
.menu-principal li.carrinho {
  flex-basis: 5%; /* Tamanho proporcional de 5% */
}

.menu-principal li:last-child {
  margin-right: 0; /* Remove a margem direita do último elemento */
}
.bloco-principal {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  padding: 0 5%;
  position: relative; /* Adiciona position relative ao container */
}

.fotos {
  padding: 100px;
  background-color: #ccc;
  /* Estilize o logo de acordo com suas necessidades */
}

.menu {
  padding: 30px;
  background-color: #ddd;
  /* Estilize o menu de acordo com suas necessidades */
}

.conteudo {
  flex-grow: 1;
  padding: 20px;
  background-color: #eee;
  /* Estilize o conteúdo principal de acordo com suas necessidades */
}

/* Adiciona o efeito de saída da tela */
.bloco-principal::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: rgb(11, 185, 238);
  border-radius: 10px;
  z-index: -1;
  transform: rotate(-5deg);
}