:root{
    --tamanhoHeader: 120px;
}


*{
    border: 1px solid red;
}

@media only screen and (min-width: 768px){

    header, footer{
        position: relative;
        z-index: 1;
    }

    /* CABEÇALHO */
    a{
        height: 100%;
    }
    header a{
        
        color: aliceblue;
        font-weight: 900;
        border: 1px solid red;
        text-align: center;
        align-items: center;
        

        
    }

    header {
        width: 100%;
        height: var(--tamanhoHeader);
        /* background: linear-gradient(to bottom,#045FB4, #0174DF); */
        background-color: #3650d0;        
    }
    
    #menuSuperior{
        width: 100%;
        height: 25%;
        align-items: center;
        text-align: center;
        
    }
    
    .botoesMenuEsquerda, .botoesMenuDireita{
        width: calc(var(--tamanhoHeader)* 0.25);
        height: 100%;
        border: none;
        border-left: 1px solid #3e5be9;
        border-right: 1px solid #324ac4;
        background: none;
    }
    
    
    .botoesMenuDireita{
        float: right;
    }
    
    .botoesMenuEsquerda{
        float: left;
    }
    
    
    #lupa-button{
        border: none;
        /* background-color: none; */
        box-sizing: border-box;
        transition: 350ms;
        /* border: 1px solid red; */
    }
    
    #lupa-button:hover{
        width: 20%;
        box-sizing: border-box;
        background-color: white;
        margin-left: 10px;
        /* transition: 350ms; */
        
    }
    
    #menuInferior{
        width: 100%;
        height: 75%;
        
        box-shadow: inset 0 0 30px #2539a083;
        /* border: 1px solid red; */

        text-align: center;
    }
    
    
    /* CORPO DO SITE */
    
    main{
        width: 60%;
        height: 1000px;

        position: relative;
        top: -30px;
        z-index: 2;

        margin-left: auto;
        margin-right: auto;

        background-color: rgb(255, 255, 255);

        box-shadow: 0 0 20px rgba(109, 109, 109, 0.411);
    }
        

    /* RODAPE */

    footer{
        
        width: 100%;
        height: 100px;
        background-color: rgb(196, 196, 196);
        top: -50px;
        
        
    }
        

}

@media only screen and (max-width: 767px){


}